.productcard-container {
    background-color: #FFFFFF;
    box-sizing:border-box;
    border-radius: 4px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.16);
    height: 254px;
    padding: 16px 16px 0 16px;
    width: 169px;
}

/* .selected-productcard-container {
    border: 2px solid #3F3F3F;
    box-shadow: 0px 2px 6px 1px rgba(63, 63, 63, 0.6); 
} */

.productname {
    color: #3F3F3F;
    font-weight: 600;
    margin-bottom: 10px;
}

.current-productname {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.alt-productname {
    color: #3F3F3F;
    display: block;
    font-weight: 600;
    margin-bottom: 10px;
    max-width: 137px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.price-container {
    display: flex;
}

.price-container span {
    color: #676767;
    font-weight: 600;
    margin-left: 6px;
}

.current-image-container {
    height: 137px;
    margin-top: 14px;
    width: 137px;
}

.image-container {
    height: 128px;
    margin: 14px 0 10px 0;
    width: 136px;
}

.productcard-container img {
    height: 100%;
    width: 100%;
}